<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.HW2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.example.HW2.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HW2">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDjwz_I2YAvaJ33yWG15ZUd47Y1BJWstz8" />

        <activity
            android:name="com.example.HW2.activities.Activity_topTen"
            android:exported="false" />
        <activity
            android:name="com.example.HW2.activities.Activity_GameOver"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.HW2.activities.Activity_Menu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.HW2.activities.Activity_Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.HW2.activities.Activity_Main"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>